# AWS SAM
.aws-sam/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
pip-wheel-metadata/
.tox/
.coverage
.pytest_cache/

# Ignora pastas de dependências de layers
layers/*/python/

# IDEs
.vscode/

# Configurações
config.yaml
.env

# Logs
cli_debug.log